.doctor-section {
    padding: 32px;
    text-align: center;
    background-color: white;
}
.dt-title-content {
    margin: 32px 0 64px 0;
}
.dt-title {
    font-family: 'Segoe UI', sans-serif;
    font-size: 40px;
}
.dt-title > span {
    position: relative;
}
.dt-title span::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 4px;
    background-color: #9D2553;
    border-radius: 8px;
    left: 0;
    bottom: -12px;
}
.dt-description {
    margin: 64px;
    text-align: center;
    color: rgb(77, 75, 75);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    letter-spacing: .7px;
    line-height: 1.6rem;
}
/* Doctor Cards */
.dt-cards-content {
    width: 100%;
    height: 400px;
    margin: 48px 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.dt-card {
    width: 332px;
    height: 375px;
    gap: 32px;
    text-align: left;
    font-family: 'Segoe UI', sans-serif;
}
.dt-card-img {
    width: 100%;
    height: 275px;
    padding: 16px 32px 0;
    background-position: center;
    background-color: #DDE5F8;
    border-radius: 20px;
}
.dt-card-name {
    margin: 12px 0 0 0;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: .7px;
}
.dt-card-title {
    margin: 6px 0 8px;
    color: #494949;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    letter-spacing: .5px;
}
.dt-card-stars {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .7px;
}
.dt-card-reviews {
    color: #5a5a5a;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .7px;
}
